.page-footer {
  padding: 65px 30px 0 30px;
  background-color: $background-color-footer;

  @include tablet {
    padding: 21px 25px 0 25px;
  }

  @include mobile {
    padding: 46px 17px 0 15px;
  }
}

.page-footer__numbers-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer__numbers-list a,
.page-footer__address {
  @include font($font-mono, 400);

  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  color: $text-color-dark;
  opacity: 0.5;
  text-decoration: none;
}

.page-footer__logo {
  margin-bottom: 53px;

  @include tablet {
    margin-bottom: 0;
  }

  @include mobile {
    column-gap: 16px;
    margin-bottom: 26px;
  }
}

.page-footer__logo .logo__title {
  color: $text-logo-special-2;
}

.page-footer__logo p {
  @include mobile {
    display: block;
  }
}

.page-footer__logo img {
  @include mobile {
    width: 52px;
    height: 52px;
  }
}

.page-footer__social {
  @include tablet {
    justify-self: right;
  }

  @include mobile {
    justify-self: center;
  }
}

// grid
.page-footer__wrapper {
  margin: 0 auto;
  max-width: 1412px;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    max-width: none;
    align-items: center;
  }
}

.page-footer__top {
  width: 29.8%;

  @include tablet {
    padding-bottom: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 42% 32.63% 1fr;
    align-items: center;
  }

  @include mobile {
    padding-bottom: 50px;
    grid-template-columns: auto;
    justify-items: center;
  }
}

.page-footer__middle {
  width: calc(100% - 29.8%);
  margin-bottom: 55px;

  @include tablet {
    width: 100%;
    margin-bottom: 38px;

    padding-top: 38px;
    position: relative;

    &::before {
      content: "";
      height: 1px;
      background-color: $border-color-grey;
      position: absolute;
      top: 0;
      left: Max(calc(-1 * (100vw - 100%) / 2), -254px); /* stylelint-disable-line */
      width: Min(100vw, $max-desktop-width); /* stylelint-disable-line */
      opacity: 0.2;
    }
  }

  @include mobile {
    padding-top: 0;
    margin-bottom: 0;
    grid-column: auto;
  }
}

.page-footer__bottom {
  width: 100%;
  position: relative;
  padding: 14px 0;
  display: grid;
  grid-template-columns: 200px 25.5% 25% 1fr;
  column-gap: 20px;

  &::before {
    content: "";
    height: 1px;
    background-color: $border-color-grey;
    position: absolute;
    left: Max(calc(-1 * (100vw - 100%) / 2), -254px); /* stylelint-disable-line */
    width: Min(100vw, $max-desktop-width); /* stylelint-disable-line */
    opacity: 0.2;
  }

  @include tablet {
    padding: 21px 0 24px 0;
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    padding: 28px 0 26px 0;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 21px;
  }
}

.page-footer__accordeon-item {
  @include mobile {
    position: relative;

    &::before {
      content: "";
      height: 1px;
      background-color: $border-color-grey;
      position: absolute;
      left: Max(calc(-1 * (100vw - 100%) / 2), -254px); /* stylelint-disable-line */
      width: Min(100vw, $max-desktop-width); /* stylelint-disable-line */
      opacity: 0.2;
      top: 0;
    }
  }
}

.page-footer__bottom p,
.page-footer__duration {
  @include font($font-mono, 400);

  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: $text-color-dark;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: max-content;
  text-align: center;
}

.page-footer__confidentiality a,
.page-footer__developer a {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}

.page-footer__developer {
  justify-self: right;

  @include mobile {
    justify-self: center;
  }
}

.page-footer__duration--tablet {
  display: none;

  @include tablet {
    display: block;
  }

  @include mobile {
    margin-bottom: 31px;
  }
}

.page-footer__duration--desktop,
.page-footer__rights--desktop {
  @include tablet {
    display: none;
  }
}

.page-footer__numbers-list a:hover,
.page-footer__numbers-list a:focus,
.page-footer__confidentiality a:hover,
.page-footer__developer a:hover,
.page-footer__confidentiality a:focus,
.page-footer__developer a:focus {
  opacity: 0.9;
}

.page-footer__numbers-list a:active,
.page-footer__confidentiality a:active,
.page-footer__developer a:active {
  color: $focus-color-dark;
  opacity: 1;
}

.page-footer__numbers-list a:focus,
.page-footer__confidentiality a:focus,
.page-footer__developer a:focus {
  outline: 2px solid $focus-color-dark;
}
