.site-nav__list {
  height: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 2;
  column-gap: 20px;

  @include tablet {
    column-count: auto;
  }
}

.site-nav__list a {
  @include font($font-mono, 400);

  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  color: $text-color-dark;
  opacity: 0.5;
  text-decoration: none;
}

.site-nav__list a:hover,
.site-nav__list a:focus {
  opacity: 0.9;
}

.site-nav__list a:active {
  color: $focus-color-dark;
  opacity: 1;
}

.site-nav__list a:focus {
  outline: 2px solid $focus-color-dark;
}
