.social {
  margin: -8px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.social li {
  margin: 8px;
}

.social a {
  color: $social-color;
  display: block;
}

.social a:hover,
.social a:focus {
  color: $social-color-hover;
}

.social a:active {
  color: $social-color-active;
}

.social a:focus {
  outline: 2px solid $focus-color-dark;
}
