// fonts
$font-roboto: "Roboto";
$font-roboto-c: "Roboto Condensed";
$font-mono: "PT Mono";

// width screens
$min-mobile-width: 320px;
$max-mobile-width: 767px;
$max-tablet-width: 1023px;
$max-desktop-width: 1920px;

// colors
$text-color-main: #ffffff;
$text-logo-special: #788891;
$background-color-header: #c4c4c4;
$background-color-extra: #1b2d37;
