// fonts
$font-roboto: "Roboto";
$font-roboto-c: "Roboto Condensed";
$font-mono: "PT Mono";

// width screens
$min-mobile-width: 320px;
$max-mobile-width: 767px;
$max-tablet-width: 1023px;
$max-desktop-width: 1920px;
$max-content-desktop-width: 1170px;

// colors
$text-color-main: #ffffff;
$text-logo-special-1: #788891;
$text-logo-special-2: #203c42;
$text-color-dark: #1b2d37;
$text-color-grey: #666666;
$background-color-main: #ffffff;
$background-color-header: #c4c4c4;
$background-color-extra: #1b2d37;
$background-color-footer: #FAFAFA;
$border-color-grey: #626962;
$border-color-light-grey: #ebebeb;
$accent-color: #00b2ff;
$accent-color-darken: #0894d0;
$accent-color-darkest: #1175a0;
$input-color: #30c1ff;
$focus-color-dark: #000000;
$social-color: #cdcdcd;
$social-color-hover: #baacac;
$social-color-active: #948787;
